<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.0.0/amelia/bootstrap.min.css">-->

        <link rel='stylesheet' href='/stylesheets/style.css' />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        {{> navbar }}
        <div class="container">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li {{ all }}><a href="/">All</a></li>
                    <li {{ deposit }}><a href="/deposit">Deposit</a></li>
                    <li {{ withdraw }}><a href="/withdraw">Withdrawl</a></li>
                    <li {{ transfer }}><a href="/transfer">Transfer</a></li>
                </ul>
            </div>

            <div class="col-md-9">
                <form class="form-signin" role="form" action="/" method="post">
                    <fieldset>
                        <div class="form-group row" >
                            <div class="col-md-8">
                                <label for="payee">Payee</label>
                                <input name="payee" id="payee" type="text" class="form-control" placeholder="Payee" required> 
                            </div>

                            <div class="col-md-4">
                                <label for="amount">Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input name="amount" id="amount" type="text" class="form-control" placeholder="100.00" required> 
                                </div>
                            </div>

                        </div>

                        <div class="form-group row" >
                            <div class="col-md-9">
                                <label for="amount">Memo</label>
                                <input name="memo" id="memo" type="text" class="form-control" placeholder="Memo" required>
                            </div>

                            <div class="col-md-3">
                                <label for="category">Category</label>
                                <select name="category" id="category" class="form-control">
                                    <option value="deposit">Deposit</option>
                                    <option value="transfer">Transfer</option>
                                    <option value="withdraw">Withdraw</option>
                                </select>
                            </div>
                        </div>

                        <input id="submitLogin" class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                    </fieldset>
                </form>
                <hr/>

                {{^ rows }}
                <div class="col-md-12 well text-center">
                    <h3>No entries</h3>
                </div>
                {{/ rows }}


                {{# entries }}
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-3">Payee</th>
                        <th class="col-md-2">Amount</th>
                        <th class="col-md-2">Category</th>
                        <th class="col-md-4">Memo</th>
                        <th class="col-md-1 text-center">Dlt</th>
                    </thead>
                    <tbody>
                {{/ entries }}

                
                {{# rows }}
                <!--<div class="col-md-12 well">-->
                    <!--{{ date }} {{ payee }} {{ amount }} {{{ memo }}} {{ category }}-->
                <!--</div>-->
                <tr>
                    <td class="col-md-3">{{ payee }}</td>
                    <td class="col-md-2">{{ amount }}</td>
                    <td class="col-md-2">{{ category }}</td>
                    <td class="col-md-4">{{{ memo }}}</td>
                    <td class="col-md-1 text-center"><a class="text-danger" href="/delete/{{ entry_id }}"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
                </tr>
                {{/ rows}}

                {{# entries }}
                    </tbody>
                </table>
                {{/entries }}

            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script>
$( "#date" ).datepicker();
        </script>

    </body>
</html>
